<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="IB.CSharpApi" version="9.73.7" targetFramework="net461" />
  <package id="IB.CSharpApiClient" version="1.0.2" targetFramework="net461" />
  <package id="NLog" version="4.5.0" targetFramework="net461" />
  <package id="SimpleInjector" version="4.2.2" targetFramework="net461" />
  <package id="SimpleInjector.Packaging" version="4.2.2" targetFramework="net461" />
</packages>